.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #333;
  min-height: 6vh;
  padding: 1vh;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h5 {
  margin: 10px;
}

.response-img {
  position: relative;
  cursor: pointer;
  max-height: 500px;
  width: auto;
  border: solid #222 4px;
}

p {
  padding: 10px;
  background: rgb(200, 200, 200);
  max-width: 500px;
  margin: 10px auto 10px auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
